<div class="container">
    <a ui-sref="students.signIn">Sign In |</a>
    <a ui-sref="students.whoHere">Who's here</a>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4> WELCOME</h4>
                <p>
                    We're so glad you're here
                </p>
                <button class= "success" name="signIn">Sign In</button>
                <button class= "primary" name="whoHere">Who's here</button>
            </div>
        </div>
    </div>
</div>
