<div ui-view>
    <div class="container">
        <a ui-sref="signIn">Sign In |</a>
        <a ui-sref="whoHere">Who's here</a><br><br>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5> Please sign in</h5>
                <ul ng-repeat="student in students">
                    <p>
                        {{student.name}}
                        <button ng-hide="student.signIn" class="btn btn-default" ng-click="student.signIn = true">Sign in</button>
                        <button ng-hide="!student.signIn" class="btn btn-warning" ng-click="student.signIn = false">Sign out</button>
                    </p>
                </ul>
            </div>
        </div>
    </div>

</div>
